@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@font-face {
    font-family: "Whyte-book";
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url("./assets/Whyte-Book.ttf");
}
@font-face {
    font-family: "Whyte-bold";
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url("./assets/Whyte-Bold.ttf");
}
*{
    margin: 0;
    padding: 0;
    font-family: "Whyte-book", "Work Sans", "Google Sans", arial, sans-serif;
}
body{
    background-color: #2c2c2c;
}
#navBar{
    display: flex;
    height: 50px;
    background-color: #2c2c2c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #444444;
    color: #ffffff;
}
#buttonsContainer{
    padding: 15px;
    margin-left: 50px;
}
#buttonsContainer > #pushOrdered{
    height: 30px;
}
#buttonsContainer > #pushUnordered{
    height: 30px;
}
#Title{
    padding: 12px;
}
#array-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
}

.array-item {
    border: 1px solid #2c2c2c;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444444;
    color: #ffffff;
}
.simpleBox{
    width: 50px;
    height: 50px;
    background-color: blue;
}

#mainContainer {
    display: flex;
    height: 100vh;
}
#navContainer {
    flex: 0 0 200px;
    padding: 20px;
    background-color: #303030;
    color: white;
    box-sizing: border-box;
}
#searchLinear, #searchBinary {
    margin-bottom: 20px;
}

#searchLinear > label, #searchBinary > label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

#targetBinary, #targetLinear {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
#searchButtonBinary, #searchButtonLinear{
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}


