
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body {
    background-color: #F9F7F7;
}

#navBar {
    display: flex;
    height: 50px;
    background-color: #112D4E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#dataStructures {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 12px;
    margin-left: 50px;
}

#dataStructures > li {
    border-bottom: 1.5px solid #DBE2EF;
    cursor: pointer;
    color: #DBE2EF;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out, font-size ease-in-out .1s;

}

#dataStructures > li:hover {
    border-bottom: 2px solid #3F72AF;
    box-shadow: inset 150px 0 0 0 #3F72AF;
    color: white;
    font-size: 20px;
}

#Title {
    color: #DBE2EF;
    margin-top: 8px;
    margin-left: 25px;
    font-size: 25px;
    font-weight: 400;
}
.copyRight{
    margin-top: 14px;
    margin-left: auto;
    margin-right: 5px;
    color: white;
    font-size: 14px;
}

#array-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-start;
}

.array-item {
    border: 1px solid black;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3F72AF;
    color: black;
}

#navigationContainer {
    display: flex;
    height: 100vh;
}

#navContainer {
    width: 200px;
    padding: 20px;
    background-color: #112D4E;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.1);
    color: white;
    box-sizing: border-box;
}

#searchLinear,
#searchBinary,
#appendNodeValue,
#movePositionForm,
#pushValueForm{
    margin-bottom: 20px;
}

#searchLinear > label,
#searchBinary > label,
#appendNodeValue > label{
    display: block;
    margin-bottom: 5px;
    color: #DBE2EF;
}

#targetBinary,
#targetLinear,
#targetNodeValue,
#pushValueInput,
#nodeValueInput,
#targetPositionInputId{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#searchButtonBinary,
#searchButtonLinear,
#appendValueButton,
#movePositionButton,
#pushValueButton,
.popStackButton{
    margin-top: 2px;
    width: 100%;
    padding: 10px;
    background-color: #3F72AF;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
#searchButtonBinary:hover,
#searchButtonLinear:hover,
#appendValueButton:hover,
#movePositionButton:hover,
#pushValueButton:hover,
.popStackButton:hover{
    transform: scale(0.95);
}

#list-container {
    display: flex;
}

.listNode {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.nodeNext {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-left: none;
    margin-right: 50px;
}

.material-symbols-outlined {
    color: black;
    margin-top: -13px;
    margin-left: 15px;
    display: flex;
    font-size: 70px !important;
}

.null-paragraph {
    color: black;
    margin-left: 20px;
    font-size: 20px;
}

.head-paragraph {
    font-size: 20px;
    position: absolute;
    margin-top: 95px;
}
.nodeCount{
    font-size: 10px;
    padding-top: 30px;
}
.queueElement{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    margin: 2px
}
#Container{
    display: flex;
}
#dataContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
#enqueueButton{
    margin-top: 2px;
    width: 100%;
    padding: 10px;
    background-color: #3F72AF;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.dequeueButton{
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    background-color: #3F72AF;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
#enqueueButton:hover, .dequeueButton:hover{
    transform: scale(0.95);
}
#enqueueValueInput{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.stack-item{
    width: 200px;
    height: 25px;
    text-align: center;
    border: 1px solid black;
}

